Both prophet and plotly need to be installed on machine.

In [1]:
import pandas as pd
from prophet import Prophet

In [2]:
df = pd.read_csv("Twitter_May_Aug_2014_TerrorSecurity_resolved.txt", sep=" ", header=None)
df.columns = ['dateTime', 'mentionedEntity1', 'mentionedEntity2']
df

,dateTime,mentionedEntity1,mentionedEntity2
0,05:02:2014:20:15:22,statusid_462321880817745921,userid_831528001
1,05:02:2014:20:15:22,statusid_462321880817745921,userid_11134252
2,05:02:2014:20:15:22,statusid_462321880817745921,userid_20733972
3,05:02:2014:20:15:22,statusid_462321880817745921,benghazi
4,05:02:2014:20:15:22,statusid_462321880817745921,gop_benghazi
...,...,...,...
2601829,08:01:2014:04:19:58,userid_1271158584,chiltern_firehouse
2601830,08:01:2014:04:19:58,userid_1271158584,london
2601831,08:01:2014:04:19:58,userid_1271158584,july
2601832,08:01:2014:04:19:58,userid_1537804958,http://pbs.twimg.com/media/bt7phzcceaa7bm5.jpg
2601833,08:01:2014:04:19:58,userid_1537804958,zayn_malik

In [3]:
from sklearn.preprocessing import LabelEncoder

Just going to observe anomalies in May, since there are so many data points.

In [4]:
mask = (df['dateTime'] > '05:02:2014:20:15:22') & (df['dateTime'] <= '05:31:2014:23:59:00')
df_may_only = df.loc[mask]
df_may_only

,dateTime,mentionedEntity1,mentionedEntity2
15,05:02:2014:20:16:10,userid_1257381576,#endoftheworld
16,05:02:2014:20:16:10,userid_1257381576,userid_30070583
17,05:02:2014:20:16:10,userid_1257381576,rogee
18,05:02:2014:20:16:10,userid_1257381576,caffeine_cowboy
19,05:02:2014:20:16:10,#endoftheworld,userid_30070583
...,...,...,...
393225,05:31:2014:23:58:14,statusid_472889558406029312,userid_1401272976
393226,05:31:2014:23:58:14,userid_97722200,userid_1401272976
393227,05:31:2014:23:58:16,userid_410687075,http://t.co/yrtuek7k9v
393228,05:31:2014:23:58:16,userid_410687075,sonny
393229,05:31:2014:23:58:16,http://t.co/yrtuek7k9v,sonny

In [6]:
#label encoding forst entity
le = LabelEncoder()
df_may_only.iloc[:,1] = le.fit_transform(df_may_only.iloc[:,1])
df_may_only.head()

              dateTime  mentionedEntity1  mentionedEntity2
0  05:02:2014:20:15:22             97578  userid_831528001
1  05:02:2014:20:15:22             97578   userid_11134252
2  05:02:2014:20:15:22             97578   userid_20733972
3  05:02:2014:20:15:22             97578          benghazi
4  05:02:2014:20:15:22             97578      gop_benghazi

In [7]:
#label encoding second entity
le = LabelEncoder()
df_may_only.iloc[:,2] = le.fit_transform(df_may_only.iloc[:,2])
df_may_only.head()

              dateTime  mentionedEntity1  mentionedEntity2
0  05:02:2014:20:15:22             97578            195023
1  05:02:2014:20:15:22             97578            139880
2  05:02:2014:20:15:22             97578            155866
3  05:02:2014:20:15:22             97578             40613
4  05:02:2014:20:15:22             97578             51107

In [ ]:
df_may_only['dateTime'] = pd.to_datetime(df_may_only[dateTime], format=)

In [13]:
import matplotlib.pyplot as plt

#### Where to go from here
1. Make plots of current data
2. Run prophet and detect anomalies
3. Verify/Evaluate results